.accordion-button:not(.collapsed) {
    background-color: #ef6a31;
    color: white;
}

.btn-orange{
    background-color: #ef6a31;
    color: white;
}

.form-height {
    height: 50px; /* Adjust this value as per your requirement */
}